<html>
<head>
<style media="screen" type="text/css">
.inactive { color: lightgray }
</style>
</head>
<body>
<h1>{{ course.title }}</h1>

<h2>Assignments</h2>
<ol>
{% for assignment in course.assignment_set.all %}
        {% if assignment.assignment_type == 'verslag' %}
        <li><a href="{% url 'report_assignment' assignment.pk %}">{{ assignment.title }} ({{ assignment.assignment_type}})</a></li>
        {% elif assignment.assignment_type == 'expvaardigheden' %}
        <li><a href="{% url 'skills_assignment' assignment.pk %}">{{ assignment.title }} ({{ assignment.assignment_type}})</a></li>
        {% else %}
        <li>{{ assignment.title }} ({{ assignment.assignment_type}})</li>
        {% endif %}
{% endfor %}
</ol>

<h2>Students</h2>
<ol>
{% for enrollment in course.enrollment_set.all %}
{% with student=enrollment.student %}
        <li class="{{ enrollment.is_active | yesno:'active,inactive' }}">{{ student.student_id }} - {{ student.first_name }} {{ student.last_name }}</li>
{% endwith %}
{% endfor %}
</ol>

<a href="{% url 'refresh_students' course.pk %}">Refresh student list</a>

</body>
</html>
