<html>
<body>
<h1>{{ assignment.title }} - {{ assignment.course.title }}</h1>

<table>
        <thead>
                <tr>
                        <th>Name</th>
                        <th>Report</th>
                        <th>Assessment</th>
                </tr>
        </thead>
        <tbody>
        {% for student in students %}
                <tr>
                        <td>{{ student.name }}</td>
                {% if student.has_report %}
                        <td><a href="{{ student.report_url }}">Verslag</a></td>
                {% else %}
                        <td>X</td>
                {% endif %}
                        <td>{{ student.has_assessment }}</td>
                </tr>
        {% endfor %}
</table>

<p><a href="{% url 'upload_reports' assignment.pk %}">Upload reports</a></p>
<p><a href="{% url 'upload_report_assessments' assignment.pk %}">Upload report assessments</a></p>
</body>
</html>
