<html>
<body>
<h1>{{ assignment.title }} - {{ assignment.course.title }}</h1>

<table>
        <thead>
                <tr>
                        <th>Name</th>
                        <th>Report</th>
                        <th>Assessment</th>
                </tr>
        </thead>
        <tbody>
                {% for student in students %}
                <tr>
                        <td>{{ student.name }}</td>
                        <td>{{ student.has_report }}</td>
                        <td>{{ student.has_assessment }}</td>
                </tr>
                {% endfor %}
</table>

<p><a href="{% url 'upload_reports' assignment.pk %}">Upload reports</a></p>
</body>
</html>
